<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.lab_teach.mapper.MyMapper">
    <select id="getAllClasses" resultType="com.cc.lab_teach.domain.Classes">
        select `id`, `name` from classes
        where `id` in ( select `c_id` from `t_c` where `t_id` = #{id})
        order by `name` asc
    </select>

    <insert id="insert" parameterType="com.cc.lab_teach.domain.Student">
        insert into `student`(id, name)
        select #{id}, #{name}
        from dual where not exists(
                select * from `student` where `id` = #{id}
            )
    </insert>

    <select id="selectByCid" resultType="com.cc.lab_teach.domain.Student">
        select `id`, `name`
        from `student`
        where `id` in (
            select `s_id` from `c_s` where `c_id` = #{c_id}
            )
    </select>

    <select id="getCorrects" resultType="java.lang.Integer">
        -- 已评阅
        select count(0) `corrects`
        from `answer`
        where `h_id` in (select `h_id` from `homework` where `e_id` = #{e_id})
          and `correct` is not null
          and `s_id` = #{s_id}
    </select>

    <select id="getResults" resultType="java.lang.Integer">
        -- 已回答
        select count(0) `results`
        from `answer`
        where `h_id` in (select `h_id` from `homework` where `e_id` = #{e_id})
          and `result` is not null
          and `s_id` = #{s_id}
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        -- 总题目数
        select count(0) `total` from `homework` where `e_id` = #{e_id}
    </select>

    <resultMap id="ExperimentResultMap" type="com.cc.lab_teach.domain.Experiment">
        <id column="e_id" jdbcType="BIGINT" property="eId" />
        <result column="c_id" jdbcType="INTEGER" property="cId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    </resultMap>

    <select id="getExperiments" resultMap="ExperimentResultMap">
        select `e_id`, `title`, `deadline`
        from `experiment`
        where `c_id` = (select `c_id` from `c_s` where `s_id` = #{id})
    </select>

<!--    `t1`.`h_id` `h_id`, `content`, `content_type`, `standard`, `standard_type`, `a_id`, `correct`, `result`, `redo`-->
    <resultMap id="StudentHomeworkResultMap" type="com.cc.lab_teach.resp.StudentHomeworkResp">
        <result column="h_id" jdbcType="BIGINT" property="hId" />
        <result column="a_id" jdbcType="BIGINT" property="aId" />
        <result column="content_type" jdbcType="VARCHAR" property="contentType" />
        <result column="standard_type" jdbcType="VARCHAR" property="standardType" />
        <result column="redo" jdbcType="BIT" property="redo" />
    </resultMap>
    <resultMap extends="StudentHomeworkResultMap" id="StudentHomeworkResultMapWithBLOBs" type="com.cc.lab_teach.resp.StudentHomeworkResp">
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="standard" jdbcType="LONGVARCHAR" property="standard" />
        <result column="correct" jdbcType="LONGVARCHAR" property="correct" />
        <result column="result" jdbcType="LONGVARCHAR" property="result" />
    </resultMap>

    <select id="getStudentHomework" resultMap="StudentHomeworkResultMap">
        -- 拿到该学生所有的题目和题解 -> 根据 e_id 和 s_id
        select `t1`.`h_id` `h_id`, `content`, `content_type`, `standard`, `standard_type`, `a_id`, `correct`, `result`, `redo`
        from (select * from `homework` where `e_id` = #{e_id}) `t1`
                 left join (select * from `answer` where `s_id` = #{s_id}) `t2`
                           on `t1`.`h_id` = `t2`.`h_id`
    </select>

    <update id="insertSnapshot">
        -- 如果不存在今天的记录则插入
        insert into `snapshot`(`views`, `date`)
        select 0, curdate()
        from dual where not exists(
                select 1 from `snapshot` where `date` = curdate()
            );

        -- 04:00:00 时更新快照表
        update `snapshot`
        set `views` = #{views}
        where `date` = date_sub(curdate(), interval 1 day)
    </update>


    <select id="get30DayStatistic" resultType="com.cc.lab_teach.domain.Snapshot">
        -- 查询30天的快照信息
        select
            `id`, `views`, `date`
        from
            `snapshot`
        where
            `date` between date_sub(curdate(), interval 30 day) and date_sub(curdate(), interval 1 day)
        order by `date` asc;
    </select>

    <delete id="deleteClass">
        delete from `answer`
        where `h_id` = (select `h_id` from `homework` where `e_id` = (
            select `e_id` from `experiment` where `c_id` = #{c_id}
        ));

        delete from `homework`
        where `e_id` = (select `e_id` from `experiment` where `c_id` = #{c_id});

        delete from `experiment` where `c_id` = #{c_id};

        delete from `c_s` where `c_id` = #{c_id};

        delete from `t_c` where `c_id` = #{c_id};

        delete from `classes` where `id` = #{c_id};
    </delete>
</mapper>